*{
margin: 0;
padding: 0;
}

.progress-circle circle {
  stroke-width: 8px;
  -webkit-transform-origin: center;
  transform-origin: center;
}

.progress-circle circle.progress-background {
  position: relative;
  stroke: rgba(66, 185, 131, 0.5);
}

.progress-circle circle.progress-bar {
  -webkit-transform: rotate(-90deg);
  transform:  rotate(-90deg);
  stroke: rgba(66, 185, 131);
}
